# js/ts
node_modules/
dist/
.cache/
*.tsbuildinfo
dist
dist-ssr
*.local

# rust
target/

# env
.env
.env.local

# os
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
